<a href="https://colab.research.google.com/github/basudevrawat/Titanic-survival-prediction-model/blob/branch/Titanic_Survival_Prediction_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: SOME KAGGLE DATA SOURCES ARE PRIVATE
# RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES.
import kagglehub
kagglehub.login()

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

basudevrawat_titanic_path = kagglehub.dataset_download('basudevrawat/titanic')

print('Data source import complete.')

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [ ]:
/kaggle/input/titanic/gender_submission.csv

NameError: name 'kaggle' is not defined

In [ ]:
test.csv

NameError: name 'test' is not defined

In [ ]:
import pandas as pd
data_train=pd.read_csv("/kaggle/input/titanic/train.csv")
data_test=pd.read_csv("/kaggle/input/titanic/test.csv")

SyntaxError: invalid syntax (3750982643.py, line 1)

In [ ]:
data_train

     Survived  Pclass  Sex        Age  Parch     Fare  Embarked
0           0       3    1  22.000000      0   7.2500         2
1           1       1    0  38.000000      0  71.2833         0
2           1       3    0  26.000000      0   7.9250         2
3           1       1    0  35.000000      0  53.1000         2
4           0       3    1  35.000000      0   8.0500         2
..        ...     ...  ...        ...    ...      ...       ...
886         0       2    1  27.000000      0  13.0000         2
887         1       1    0  19.000000      0  30.0000         2
888         0       3    0  29.699118      2  23.4500         2
889         1       1    1  26.000000      0  30.0000         0
890         0       3    1  32.000000      0   7.7500         1

[891 rows x 7 columns]

In [ ]:
data_test

     Pclass  Sex       Age  Parch      Fare  Embarked
0         3    1  34.50000      0    7.8292         1
1         3    0  47.00000      0    7.0000         2
2         2    1  62.00000      0    9.6875         1
3         3    1  27.00000      0    8.6625         2
4         3    0  22.00000      1   12.2875         2
..      ...  ...       ...    ...       ...       ...
413       3    1  30.27259      0    8.0500         2
414       1    0  39.00000      0  108.9000         0
415       3    1  38.50000      0    7.2500         2
416       3    1  30.27259      0    8.0500         2
417       3    1  30.27259      1   22.3583         0

[418 rows x 6 columns]

In [ ]:
def clean(data):
    data = data.drop(['Ticket','Name','PassengerId','Cabin','SibSp'], axis=1)
    cols = ['Parch','Fare', 'Age']

    for col in cols:
        data[col].fillna(data[col].mean(),inplace=True)

    data.Embarked.fillna("S",inplace=True)
    return data

data_train=clean(data_train)
data_test=clean(data_test)

KeyError: "['Ticket', 'Name', 'PassengerId', 'Cabin', 'SibSp'] not found in axis"

In [ ]:
data_train.head()

   Survived  Pclass     Sex   Age  Parch     Fare Embarked
0         0       3    male  22.0      0   7.2500        S
1         1       1  female  38.0      0  71.2833        C
2         1       3  female  26.0      0   7.9250        S
3         1       1  female  35.0      0  53.1000        S
4         0       3    male  35.0      0   8.0500        S

In [ ]:
data_train

     Survived  Pclass     Sex        Age  Parch     Fare Embarked
0           0       3    male  22.000000      0   7.2500        S
1           1       1  female  38.000000      0  71.2833        C
2           1       3  female  26.000000      0   7.9250        S
3           1       1  female  35.000000      0  53.1000        S
4           0       3    male  35.000000      0   8.0500        S
..        ...     ...     ...        ...    ...      ...      ...
886         0       2    male  27.000000      0  13.0000        S
887         1       1  female  19.000000      0  30.0000        S
888         0       3  female  29.699118      2  23.4500        S
889         1       1    male  26.000000      0  30.0000        C
890         0       3    male  32.000000      0   7.7500        Q

[891 rows x 7 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

cols=['Sex','Embarked']

for col in cols:
    data_train[col]=le.fit_transform(data_train[col])
    data_test[col]=le.fit_transform(data_test[col])

data_train.head(10)

   Survived  Pclass  Sex        Age  Parch     Fare  Embarked
0         0       3    1  22.000000      0   7.2500         2
1         1       1    0  38.000000      0  71.2833         0
2         1       3    0  26.000000      0   7.9250         2
3         1       1    0  35.000000      0  53.1000         2
4         0       3    1  35.000000      0   8.0500         2
5         0       3    1  29.699118      0   8.4583         1
6         0       1    1  54.000000      0  51.8625         2
7         0       3    1   2.000000      1  21.0750         2
8         1       3    0  27.000000      2  11.1333         2
9         1       2    0  14.000000      0  30.0708         0

In [ ]:
from sklearn.model_selection import train_test_split
y=data_train["Survived"]
x=data_train.drop("Survived", axis=1)

x_train,x_test,y_train,y_test=train_test_split( x, y, test_size=0.3,random_state=125)

In [ ]:
len(x_train)

623

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [ ]:
model.fit(x_train,y_train)

GaussianNB()

In [ ]:
model.score(x_test,y_test)

0.7835820895522388

In [ ]:
y_predicted=model.predict(x_test)

In [ ]:
sub_pred=model.predict(data_test)

In [ ]:
data_test

     Pclass  Sex       Age  Parch      Fare  Embarked
0         3    1  34.50000      0    7.8292         1
1         3    0  47.00000      0    7.0000         2
2         2    1  62.00000      0    9.6875         1
3         3    1  27.00000      0    8.6625         2
4         3    0  22.00000      1   12.2875         2
..      ...  ...       ...    ...       ...       ...
413       3    1  30.27259      0    8.0500         2
414       1    0  39.00000      0  108.9000         0
415       3    1  38.50000      0    7.2500         2
416       3    1  30.27259      0    8.0500         2
417       3    1  30.27259      1   22.3583         0

[418 rows x 6 columns]

In [ ]:
sub_pred=model.predict(data_test
                      )

In [ ]:
sub_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])